<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>controller.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>controller.signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>controller.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>category</servlet-name>
        <servlet-class>controller.category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detail</servlet-name>
        <servlet-class>controller.detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>controller.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>controller.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>controller.cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>process</servlet-name>
        <servlet-class>controller.process</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>controller.checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quanlysanpham</servlet-name>
        <servlet-class>controller.quanlysanpham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themsanpham</servlet-name>
        <servlet-class>controller.themsanpham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadchinhsua</servlet-name>
        <servlet-class>controller.loadchinhsua</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>controller.edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoasanpham</servlet-name>
        <servlet-class>controller.xoasanpham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quanlydonhang</servlet-name>
        <servlet-class>controller.quanlydonhang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkquanlydonhang</servlet-name>
        <servlet-class>controller.checkquanlydonhang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chitietdonhang</servlet-name>
        <servlet-class>controller.chitietdonhang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quanlytaikhoan</servlet-name>
        <servlet-class>controller.quanlytaikhoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoataikhoan</servlet-name>
        <servlet-class>controller.xoataikhoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themtaikhoan</servlet-name>
        <servlet-class>controller.themtaikhoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suathongtin</servlet-name>
        <servlet-class>controller.suathongtin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>category</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>process</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quanlysanpham</servlet-name>
        <url-pattern>/quanlysanpham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themsanpham</servlet-name>
        <url-pattern>/themsanpham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadchinhsua</servlet-name>
        <url-pattern>/loadchinhsua</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoasanpham</servlet-name>
        <url-pattern>/xoasanpham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quanlydonhang</servlet-name>
        <url-pattern>/quanlydonhang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkquanlydonhang</servlet-name>
        <url-pattern>/checkquanlydonhang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chitietdonhang</servlet-name>
        <url-pattern>/chitietdonhang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quanlytaikhoan</servlet-name>
        <url-pattern>/quanlytaikhoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoataikhoan</servlet-name>
        <url-pattern>/xoataikhoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themtaikhoan</servlet-name>
        <url-pattern>/themtaikhoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suathongtin</servlet-name>
        <url-pattern>/suathongtin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
